@use "../../styles/global" as *;

footer {
  background-color: $bg-inherit;
  color: #fff;
  .container_main_footer {
    display: flex;
    justify-content: space-between;
    @include wm-centered;
    padding: 20px 0;

    .logo {
      h1 {
        font-size: 24px;
        margin: 0;
      }
    }

    .footer_content_social_media,
    .footer_content_links {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          a {
            color: #fff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer_content_copyright {
    display: flex;
    justify-content: center;
    border-top: solid 1px #fff;
    padding: 20px;
    p {
      margin: 0;
      font-size: 14px;
    }
  }
}
