@use "../../styles/global" as *;

.container_premiere_lecon {
  background-color: $bg-red-primary;
  display: flex;
  position: relative;
  .wrapper_welcome {
    height: 65vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include wm-centered;

    .image_welcome {
      background-image: url("src/assets/vectors/premiere-lecon-main-2.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 62%;
      position: absolute;
      height: 100%;
      right: 0;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 400px;
      z-index: 3;
      a {
        text-align: center;
        padding: 10px;
        background-color: #fff;
        color: black;
        width: 30%;
      }
    }
  }
}

.lessons {
  .chapters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  h1 {
    margin-bottom: 20px;
  }

  .lesson_wrapper {
    width: 100%;
  }

  .chapters {
    @include wm-centered;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;

    .lessons_content {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: solid 1px #d4d4d4;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      height: 15vh;
    }

    .lesson_icon {
      display: flex;
      margin-right: 20px;
      img {
        border-radius: 50%;
        border: solid 2px #8e8e8e;
        width: 75px;
        height: 75px;
      }
    }
  }
}
