$bg-blue-lighter: #2963c2;
$bg-blue-primary: #182e52;
$bg-inherit: #000;
$bg-blue-secondary: #1f3a6d;
$bg-red-primary: #CA2F0A;

@mixin wm-centered {
  max-width: 1350px;
  margin: 0 auto;

  @media(max-width: 1366px) {
    max-width: 1250px;
    margin: 0 auto;
      
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
