@use "../../styles/global.scss" as *;

.container_books {
  display: flex;
  flex-direction: column;

  @include wm-centered;

  .input_search_books {
    margin: 6rem auto 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 46rem;
    max-height: 6rem;
    input {
      font-size: 1rem;
      padding: 5px 15px;
      border-radius: 16px;
      border: solid 1px #c5c5c5;
    }
  }

  .container_aside_cards {
    display: flex;
    .sidebar {
      width: 13vw;
      padding: 20px;
      background-color: $bg-blue-primary;
      border-radius: 8px;
      height: 100%;
      &_menu {
        list-style: none;
        padding: 0;

        li {
          margin: 10px 0;

          a {
            color: #cecece;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &_search {
        margin-top: 20px;
        width: 100%;
        input {
          width: 100%;
          padding: 8px;
          margin-bottom: 10px;
          border-radius: 4px;
        }
      }
    }
  }

  .content_books {
    display: flex;
    flex-direction: column;
  }

  .welcome_img {
    width: 100%;
    height: 400px;
    background-image: url("https://media.graphassets.com/YlIbU9WORyCdM8s9jEvo");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .wrapper_books {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    color: #000;
    max-width: 1350px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;

    @include wm-centered;

    h1 {
      font-size: 2em;
      margin-bottom: 20px;
    }
    .books_card {
      display: grid;
      max-width: 1000px;
      grid-template-columns: repeat(4,1fr);
      gap: 30px;
    }

    .wrapper_book_card {

      button {
        margin: 20px 0;
        background-color: $bg-blue-primary;
        border-radius: 8px;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container_books .wrapper_books {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .container_books .wrapper_books {
    max-width: 750px;
  }

  .container_books .wrapper_books .books_card {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container_books .wrapper_books {
    max-width: 500px;
  }

  .container_books .wrapper_books .books_card {
    max-width: 500px;
  }
}

@media (max-width: 576px) {
  .container_books .wrapper_books {
    max-width: 100%;
    padding: 0 10px;
  }

  .container_books .wrapper_books .books_card {
    max-width: 100%;
  }

  .container_books .wrapper_books .wrapper_book_card {
    margin: 10px 0;
  }
}
