@use "../../styles/global.scss" as *;

.container_music_video {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    flex-direction: column;

    video {
        width: 600px;
        height: 100%;
    }

    .wrapper_video_choice {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 800px;
        padding: 40px;

        .wrapper_btns_choice {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;

            button {
                background-color: $bg-blue-primary;
                padding: 10px 60px;
                font-size: 1.5em;
                border: none;
                border-radius: 5px;
                margin: 10px;
                color: #fff;
            }
        }
    }

    .lyrics {
        display: flex;
        justify-content: center;

        input {
            display: flex;
            width: 100px;
            color: #fff;
            margin-bottom: 10px;
            border: none;
            border-bottom: dotted;
            background-color: transparent;
            margin: 10px;
        }
    }
}